@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

:root {
  --green: #4AC0A4;
  --gray: #333333;
  --gold: #BC2D5F;
  --box-shadow-general: 0px 5px 10px 0px rgba(0,0,0,0.2);
}

*{
  margin: 0;
  padding: 0;
}

